.chat-box{
    font-family: "Delius", cursive;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 30px;
    margin-left: 30px;
    cursor: default;
  }

  .chat-inner-box {
    height: 150px;
    width: fit-content;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    position: relative;
    transition: height 0.3s ease;
}

  .chat-inner-box:hover {
    height: 290px;
  }

  .chat-inner-box::-webkit-scrollbar {
    display: none; /*Safari and Opera */
  }

  .chat-inner-box {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .chat-message-container {
    display: flex;
    align-items: flex-start;
    width: fit-content;
    padding: 10px 16px;
    background: linear-gradient(180deg, #00000080, rgba(7, 13, 27, 0.5));
    border-radius: 8px;
    border: 1px solid rgb(92, 144, 255);
    margin-bottom: 6px;
    max-width: 100%;
  }
  
  .chat-message-container-prompt{
    margin-top: 10px;
    border: 1px solid rgb(58, 58, 58);
  }
  
  .chat-message-container-glow {
    box-shadow: 0 0 4px rgba(92, 144, 255, 0.8), 0 0 4px rgba(92, 144, 255, 0.6), 0 0 4px rgba(92, 144, 255, 0.4);
}
  
  .chat-user {
    font-weight: bold;
    margin-right: 10px;
    white-space: nowrap;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.75);
  }
  
  .chat-message {
    color: rgb(189, 189, 189);
    display: inline-block;
    max-width: 32ch;
    word-break: break-word;
    white-space: pre-wrap;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.75);
    cursor: auto;
  }
  
  .chat-message-prompt {
    color: rgb(145, 145, 145);
    display: inline-block;
    max-width: 32ch;
    word-break: break-word;
    white-space: pre-wrap;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.75);
  }

  .chat-input {
    border: none;
    outline: none;
    background: transparent;
    color: rgb(189, 189, 189);
    font-size: 14px;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.75);
}

  .older-messages{
    color: rgb(240, 240, 240);
    margin-bottom: 10px;
    transform: translateY(40px);
  }

  .older-messages-number{
    font-weight: bold;
    margin-right: 6px;
  }

  .slide-in {
    animation: slideIn 0.1s ease-in-out;
  }

  .slide-out {
    animation: slideOut 0.1s ease-in-out;
    opacity: 0;
  }

  .fade-slide-in {
    animation: fadeSlideIn 0.3s ease-in-out;
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(48px);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateY(48px);
      opacity: 1;
    }
    to {
      transform: translateY(0);
      opacity: 0;
    }
  }
  
  @keyframes fadeSlideIn {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media (max-width: 880px) {
    .chat-message {
      max-width: 16ch;
    }
    .chat-message-container {
      padding: 8px 14px;
      background: linear-gradient(180deg, #0000002f, rgba(7, 13, 27, 0.2));
      margin-bottom: 4px;
    }
}